body {
    background-image: image("paper.jpg");
    background-color: grey;
    font-size: 14px;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    font-style: italic;
    color: blue;
}

.container > * {
    padding: 20px;
}

.container {
    color: white;
    display: grid;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 100%;
    color: black;
}

header {
    background: skyblue;

}

main {
    background: seashell;
    color: black;
}

nav {
    background: steelblue;
    
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

ul li {
    background: #999;
    padding: 15px;
    text-align: center;
}

footer {
    background: darkgrey;
}

@media only screen and (max-width: 600px) {
    ul {
     flex-direction: column;
    }
  }