body {
    background-image: image("paper.jpg");
    background-color: darkkhaki;
    font-size: 14px;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1{
    font-style: italic;
    color: blue;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 100%;
    color: black;
}